.carousel-indicators {
    color: #1d2124;
}

.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    box-shadow: 0 1px 0.4rem rgba(0, 0, 0, 0.5);
}

.main-content {
    max-width: 1080px;
}

.reg_bg, .auth_bg {
    background-color: #F4F4F4;
}

.reg_form {
    max-width: 460px;
}

.carousel-portal__panel {
    position: absolute;
    padding: 11px 20px 14px 20px;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-title {
	text-shadow: 1px 1px 2px black, 0 0 1px black;
}

.carousel-caption
{
    position: absolute;
    right: 0;
    bottom: 16px;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.4);
}

hr.divider {
    /*height: 40px;*/
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 42px;
    height: 42px;
    padding: 10px 10px;
    font-size: 10px;
    line-height: 1.33;
    border-radius: 35px;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:1%;
    content: attr(data-count);
    font-size:50%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
}

.thumb-post {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' stroke-width='0.5' stroke='rgba(0,0,0,0.4)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' stroke-width='0.5' stroke='rgba(0,0,0,0.4)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

/*.input-group>.input-group-prepend {*/
    /*flex: 0 0 50%;*/
/*}*/

/*.input-group .input-group-text {*/
    /*width: 100%;*/
/*}*/